



/*  MMMMMMMM    MMMM    MM    MM  MMMMMM    MMMM     */
/*  MM        MM    MM  MMMM  MM    MM    MM    MM   */
/*  MMMMMMMM  MM    MM  MM  MMMM    MM      MM       */
/*  MM        MM    MM  MM    MM    MM        MM     */
/*  MM        MM    MM  MM    MM    MM    MM    MM   */
/*  MM          MMMM    MM    MM    MM      MMMM     */

@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');







/*  MM      MM    MMMM    MMMMMM    MMMMMM    MMMM    MMMMMM    MM      MMMMMMMM    MMMM     */
/*  MM      MM  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM        MM    MM   */
/*  MM      MM  MMMMMMMM  MMMMMM      MM    MMMMMMMM  MMMMMM    MM      MMMMMMMM    MM       */
/*  MM      MM  MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM            MM     */
/*    MM  MM    MM    MM  MM    MM    MM    MM    MM  MM    MM  MM      MM        MM    MM   */
/*      MM      MM    MM  MM    MM  MMMMMM  MM    MM  MMMMMM    MMMMMM  MMMMMMMM    MMMM     */

:root{
    --color1: #212121;
    --color2: #757575;
    --colorS: #f6416c;
    --colorD: #BDBDBD;
    --colorI: #000000;

    --bkgd1: #a9eee6;
    --bkgd2: #fefaec;
    --bkgd3: #f9a1bc;
    --bkgd4: #625772;

    --sizeS: 1em;
    --sizeM: 3em;
    --sizeL: 5em;

    --font1: 'Philosopher', sans-serif;
    --font2: 'Noto Serif', serif;
    --font3: 'Rubik', sans-serif;
    --font4: 'Libre Baskerville', serif;
    --font5: 'Saira', sans-serif;

    --margin1: 10px;

    --menu-wide: 0px;

    --curve1: cubic-bezier(.5,0.2,.33,1);
    --curve2: cubic-bezier(.3,-0.2,.04,1.2);
    --curve3: cubic-bezier(.4,.3,.6,1.2);
}







/*  MMMMMM    MMMM      MMMM      MMMM     */
/*    MM    MM    MM  MM    MM  MM    MM   */
/*    MM    MMMMMMMM  MM          MM       */
/*    MM    MM    MM  MM  MMMM      MM     */
/*    MM    MM    MM  MM    MM  MM    MM   */
/*    MM    MM    MM    MMMM      MMMM     */

body, html {
    height: 100%;
    margin: 0;
}

body.noscroll {
    overflow: hidden;
}


h3 {
    font-size: var(--sizeL);
}


ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    transition-duration: 0.3s;
    color: black;
}

a:hover {
    text-decoration: none;
}






/*    MMMM    MMMMMMMM  MM    MM  MMMMMMMM  MMMMMM      MMMM    MM              MMMM    MM        MMMM      MMMM      MMMM    MMMMMMMM    MMMM     */
/*  MM    MM  MM        MMMM  MM  MM        MM    MM  MM    MM  MM            MM    MM  MM      MM    MM  MM    MM  MM    MM  MM        MM    MM   */
/*  MM        MMMMMMMM  MM  MMMM  MMMMMMMM  MMMMMM    MMMMMMMM  MM            MM        MM      MMMMMMMM    MM        MM      MMMMMMMM    MM       */
/*  MM  MMMM  MM        MM    MM  MM        MM    MM  MM    MM  MM            MM        MM      MM    MM      MM        MM    MM            MM     */
/*  MM    MM  MM        MM    MM  MM        MM    MM  MM    MM  MM            MM    MM  MM      MM    MM  MM    MM  MM    MM  MM        MM    MM   */
/*    MMMM    MMMMMMMM  MM    MM  MMMMMMMM  MM    MM  MM    MM  MMMMMM          MMMM    MMMMMM  MM    MM    MMMM      MMMM    MMMMMMMM    MMMM     */

.right {
    text-align: right;
    /* background: pink; */
    width: 100%;
}









/*    MM  MM    MMMMMM      MMMM    MMMMMM     */
/*  MMMMMMMMMM  MM    MM  MM    MM  MM    MM   */
/*    MM  MM    MMMMMM    MMMMMMMM  MMMMMM     */
/*    MM  MM    MM    MM  MM    MM  MM    MM   */
/*  MMMMMMMMMM  MM    MM  MM    MM  MM    MM   */
/*    MM  MM    MMMMMM    MM    MM  MM    MM   */

#bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
    font-size: var(--sizeM);
    padding-right: 0.5em;
}


#bars {
    color: black;
    cursor: pointer;
}










/*    MM  MM    MM      MM  MMMMMMMM  MM    MM  MM    MM   */
/*  MMMMMMMMMM  MMMM  MMMM  MM        MMMM  MM  MM    MM   */
/*    MM  MM    MM  MM  MM  MMMMMMMM  MM  MMMM  MM    MM   */
/*    MM  MM    MM      MM  MM        MM    MM  MM    MM   */
/*  MMMMMMMMMM  MM      MM  MM        MM    MM  MM    MM   */
/*    MM  MM    MM      MM  MMMMMMMM  MM    MM    MMMM     */

#menu {
    position: fixed;
    left: 0px;
    top: 0;
    height: 150%;

    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: stretch;

    overflow: hidden;
    background:#0009;
    width: 100%;
    left: -100%;

    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-timing-function: var(--curve1);
}

#menu.show { 
    left: 0%;
}

#menu a{
    color: white;
    font-size: 6vh;
    text-align: center;
}

#menu .right {
    /* background: pink; */
    padding: 10px;
}

#close {
    cursor: pointer;
}











/*    MM  MM    MMMMMM  MM    MM  MMMMMM  MMMMMM      MMMM     */
/*  MMMMMMMMMM    MM    MMMM  MM    MM    MM    MM  MM    MM   */
/*    MM  MM      MM    MM  MMMM    MM    MMMMMM    MM    MM   */
/*    MM  MM      MM    MM    MM    MM    MM    MM  MM    MM   */
/*  MMMMMMMMMM    MM    MM    MM    MM    MM    MM  MM    MM   */
/*    MM  MM    MMMMMM  MM    MM    MM    MM    MM    MMMM     */

#intro {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font2);
    color: white;
    background-image: url("/index/japan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}







/*            MMMMMM    MM    MM  MM    MM  MMMMMM    MM      MMMMMMMM   */
/*            MM    MM  MM    MM  MMMM  MM  MM    MM  MM      MM         */
/*            MMMMMM    MM    MM  MM  MMMM  MM    MM  MM      MMMMMMMM   */
/*            MM    MM  MM    MM  MM    MM  MM    MM  MM      MM         */
/*            MM    MM  MM    MM  MM    MM  MM    MM  MM      MM         */
/*        MM  MMMMMM      MMMM    MM    MM  MMMMMM    MMMMMM  MMMMMMMM   */

.bundle {
    font-family: var(--font5);
    background: #f1f3f8;
}

.bundle:nth-child(4n+2) { background: #d6e0f0; }
.bundle:nth-child(4n+3) { background: #d6e0f0; }














/*    MM  MM    MMMMMM    MM    MM    MMMM    MMMMMM                 */
/*  MMMMMMMMMM  MM    MM  MM  MM    MM    MM  MM    MM               */
/*    MM  MM    MMMMMM    MMMM      MM        MM    MM               */
/*    MM  MM    MM    MM  MM  MM    MM  MMMM  MM    MM               */
/*  MMMMMMMMMM  MM    MM  MM    MM  MM    MM  MM    MM               */
/*    MM  MM    MMMMMM    MM    MM    MMMM    MMMMMM    MM  MM  MM   */

.bkgd-img {
    width: 40vw;
    height: 30vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 130%; */
}
.bkgd-img.blur {
    filter: blur(2px);
}

/* #bkgd-image-1 { background-image: url("/index/resumeSnap.png"); } */
#bkgd-image-2 { background-image: url("/index/tetrisSnap.png"); }
#bkgd-image-3 { background-image: url("/index/scatterSnap.png"); }
#bkgd-image-4 { background-image: url("/index/goSnap.png"); }
#bkgd-image-5 { background-image: url("/index/svgartisteSnap.png"); }
#bkgd-image-6 { background-image: url("/index/biglettersSnap2.png"); }









/*            MM    MM  MM      MM              MMMM    MMMMMMMM   */
/*            MMMM  MM  MM      MM            MM    MM  MM         */
/*            MM  MMMM  MM      MM              MM      MMMMMMMM   */
/*            MM    MM  MM  MM  MM                MM    MM         */
/*            MM    MM  MM  MM  MM            MM    MM  MM         */
/*        MM  MM    MM    MM  MM          MM    MMMM    MMMMMMMM   */

.nw {
    width: 100%;
    height: 100%;
    padding: 3vw 0vw 3vw 3vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.se {
    width: 100%;
    height: 100%;
    padding: 3vw 7vw 3vw 3vw;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: flex-start;
    font-size: 2.2vw;
    text-align: justify;
}







/*            MMMMMMMM    MMMM    MMMMMM    MMMMMMMM    MMMM    MMMMMM      MMMM    MM    MM  MM    MM  MMMMMM     */
/*            MM        MM    MM  MM    MM  MM        MM    MM  MM    MM  MM    MM  MM    MM  MMMM  MM  MM    MM   */
/*            MMMMMMMM  MM    MM  MMMMMM    MMMMMMMM  MM        MMMMMM    MM    MM  MM    MM  MM  MMMM  MM    MM   */
/*            MM        MM    MM  MM    MM  MM        MM  MMMM  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM   */
/*            MM        MM    MM  MM    MM  MM        MM    MM  MM    MM  MM    MM  MM    MM  MM    MM  MM    MM   */
/*        MM  MM          MMMM    MM    MM  MMMMMMMM    MMMM    MM    MM    MMMM      MMMM    MM    MM  MMMMMM     */


.frame {
    position: relative;
    overflow: hidden;
    /* background: pink; */
}

.foreground-abs {
    position: absolute;
    /* background: pink; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.foreground {
    position: relative;
    /* top: -50px; */
    width: 100%;
    height: 100%;
    /* background: #fffd; */
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}



.foreground img {
    width: 3vw;
    transition: 0.3s;
}
.foreground img:hover{
    width: 3.5vw;
}

.app-link {
    color:black;
    font-size: 2em;
    transition: 0.3s;
}
.app-link:hover {
    color:black;
    font-size: 2.2em;
}

.app-title {
    font-size: 3vw;
}

.app-desc {
    font-size: 1.6vw;
}

.top-lid {
    background: #FFF9;
    position: absolute;
    height: 75%;
    width: 100%;
    top: -75%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.top-lid.show {
    top: 0%;
}


.bot-lid {
    background: #FFF9;
    position: absolute;
    height: 25%;
    width: 100%;
    bottom: -25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
}
.bot-lid.show {
    bottom: 0%;
}












/*    MM  MM      MMMM      MMMM    MM    MM  MMMMMM    MMMM      MMMM    MMMMMM    MMMM     */
/*  MMMMMMMMMM  MM    MM  MM    MM  MMMM  MM    MM    MM    MM  MM    MM    MM    MM    MM   */
/*    MM  MM    MM        MM    MM  MM  MMMM    MM    MMMMMMMM  MM          MM      MM       */
/*    MM  MM    MM        MM    MM  MM    MM    MM    MM    MM  MM          MM        MM     */
/*  MMMMMMMMMM  MM    MM  MM    MM  MM    MM    MM    MM    MM  MM    MM    MM    MM    MM   */
/*    MM  MM      MMMM      MMMM    MM    MM    MM    MM    MM    MMMM      MM      MMMM     */

#contacts {
    /* height: 50vh; */
    width: 100%;
    background: #EEE;
}

.contact-grid {
    display: grid;
    /* height: 75%; */
    grid-template-columns: 30% auto;
    /* gap: 5px; */
    column-gap: 4px;
    /* row-gap: 5px; */
    margin-top: 4px;
}

.contact {
    background: white;
    font-family: var(--font3);
    font-size: 3vw;
    display: flex;
    padding: 4vw 0 4vw 0;
    /* justify-content: center; */
    align-items: center;
}

.contact:nth-child(odd) {
    justify-content: flex-end;
    padding-right: 5vw;
}

.contact:nth-child(even) {
    justify-content: start;
    padding-left: 5vw;
}






/*              MM      MM  MMMMMMMM  MMMMMM    MMMMMM    MMMM            MMMMMM    MM    MM  MMMMMMMM  MMMMMM    MM      MM   */
/*              MMMM  MMMM  MM        MM    MM    MM    MM    MM        MM      MM  MM    MM  MM        MM    MM    MM  MM     */
/*              MM  MM  MM  MMMMMMMM  MM    MM    MM    MMMMMMMM        MM      MM  MM    MM  MMMMMMMM  MMMMMM        MM       */
/*              MM      MM  MM        MM    MM    MM    MM    MM        MM  MM  MM  MM    MM  MM        MM    MM      MM       */
/*              MM      MM  MM        MM    MM    MM    MM    MM        MM    MM    MM    MM  MM        MM    MM      MM       */
/*              MM      MM  MMMMMMMM  MMMMMM    MMMMMM  MM    MM          MMMM  MM    MMMM    MMMMMMMM  MM    MM      MM       */

@media (max-width: 992px) {
    /* WHEN SCREEN IS SMALL */
    
    .nw {
        padding: 8vw 6vw 3vw 6vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .se {
        padding: 0px 6vw 14vw 6vw;
        display: flex;
        align-items: flex-start;
        font-size: 3vw;
        text-align: justify;
    }

    
    .bkgd-img {
        width: 80vw;
        height: 50vw;
    }

    .foreground img {
        width: 5vw;
        transition: 0.3s;
    }
    .foreground img:hover{
        width: 5.8vw;
    }

    .app-title {
        width: 100%;
        text-align: center;
        font-size: 6vw;
    }
    
    .app-desc {
        font-size: 3vw;
    }





}




