

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');






/* VARIABLES */
:root{
    --color1: #212121;
    --color2: #757575;
    --colorS: #f6416c;
    --colorD: #BDBDBD;
    --colorI: #000000;

    --bkgd1: #a9eee6;
    --bkgd2: #fefaec;
    --bkgd3: #f9a1bc;
    --bkgd4: #625772;

    --size1: 30px;
    --size2: 20px;
    --size3: 10px;

    --font1: 'Philosopher', sans-serif;
    --font2: 'Noto Serif', serif;
    --font3: 'Rubik', sans-serif;
    --font4: 'Libre Baskerville', serif;
    --font5: 'Saira', sans-serif;

    --margin1: 10px;

    --menu-wide: 0px;

    --curve1: cubic-bezier(.5,-0.07,.33,1.2);
    --curve2: cubic-bezier(.3,-0.2,.04,1.2);
    --curve3: cubic-bezier(.4,.3,.6,1.2);
}



